<body>
<!--Book Details-->
<div class = "flex flex-col justify-top items-center  flex-col w-full h-full overflow-auto">
{{#each results}}
    <div class = "flex flex-row bg-white  bg-opacity-80 w-10/12 h-64 shadow-md shadow-slate-900 rounded-md shrink mb-2">
        <div class = "flex flex-col justify-center items-center w-2/12 py-2">
            <img class = "w-8/12  rounded-sm "src = {{result.thumbnail}}>
            <button id="addToListBtn" class="text-sky-100 text-center bg-orange-950 w-28 h-5 m-1 shadow-inner shadow-white">Add to List</button>
            <!-- Dropdown using <select> -->
            <select id="listSelect" class="hidden">
            <option value="readingList">Reading List</option>
            <option value="wishlist">Wishlist</option>
            <option value="favorites">Favorites</option>
            </select>
        </div>
        <div class = "flex flex-col w-10/12 mr-8">
            <p id= "tile" class = "text-orange-950 text-left text-2xl justify-self-center font-bold 
            antialiased mt-2 " >{{result.title}}<span id="pubDate" class = " text-blue-600 text-sm">{{result.pubDate}}</span></p>

            <p id = "author" class = "text-orange-950 text-left text-lg justify-self-center font-bold 
            antialiased my-2" >{{result.authorName}}</p>
            <p id = "ISBN" class = "text-orange-950 text-left text-lg justify-self-center font-serif
            antialiased"  >{{result.ISBN}}</p> 
            <p id = "pageCount" class = "text-orange-950 text-left text-lg justify-self-center  font-bold 
            antialiased " >{{result.pageCount}}</p>
            <p id = "description" class = "text-orange-950 text-left text-lg justify-self-center font-bold 
            antialiased"  >{{result.description}}</p>  
        </div>
        
    </div>
{{/each}} 
</div>

</section>
       <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
        function addDarkmodeWidget() {
            const options = {
                label: '🌓', 
         }
 
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
        
         }
         window.addEventListener('load', addDarkmodeWidget);
    </script> 
    <script src="/js/search-display.js"></script>

    <script src="/js/avators.js"></script>
</section>

</body>